{% extends 'base.html' %}
{% block title %}
TODO APP
{% endblock title %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="text-center mt-4">My TODO LIST</h2>
        </div>
    </div>
     <div class="row mt-5">
        <div class="col-sm-8 offset-md-4">
            <form action="{% url 'add_todo' %}" class="form-inline d-block" method="post">
            {% csrf_token %}
                <input type="text" name="name" class="form-control custom-form-width" />
                <button type="submit" class="btn btn-dark">ADD</button>
            </form>
            <div class="todo_lists mt-5">
             <ul class="list-group">
                {% for list in todo_lists %}
                    <li class="list-group-item" style="width:50%">{{list.text}}
                    <div class="float-right">
                        <form action="{% url 'delete_todo' list.id %}" method="post">
                        {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </div>
                    </li>
                {% endfor %}
            </ul>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
